@media  only screen and (max-width: 1080px) {

  body {
    display: flex;
  }
  header {
    justify-content: space-evenly;

    .mobileMenu {
      display: flex;
      flex-basis: 27%;
      background:url('img/icon/icon.svg') no-repeat center;
      background-size: 45%;
    }

    .logo {
      flex-basis: 33%;
    }

    .menu {
      display: none;

    }

    .contacts {
      font-size: 20px;
      padding: 0;

      li {
        margin-right: 15px;
      }
    }


  }
 .aboutUsContent {
   .aboutUsBox {
     width: 80%;
   }
 }
 .priceListContent {
  .tableDiv {
    width: 95%;
    .priceTable {
      td, th {
      font-size: 30px;
      }
    }
  }
 }


}

@media (max-width: 1200px) {

  .mainContent {
    .goodsContainer {
      flex-direction: column;
      width: 70%;
      justify-content: center;
      align-items: center;

      .goodsText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          text-align: center;
        }

        .goodsDescription {
          list-style-position: outside;
          text-align: left;
          align-self: center;
          margin-left: 25px;

        }
      }
    }
  }
}



@media (max-width: 850px) {
  .mainContent {
    h1 {
      font-size: 28px;
      width: 340px;
    }

    .goodsContainer {
      .goodsText {
        h2 {
          width: 360px;

          text-align: center;
          font-size: 27px;
        }

        .priceText {
          text-align: center;
          width: 240px;
          font-size: 25px;
        }

        .goodsDescription {
          font-size: 22px;
        }
      }
    }
  }

  footer {
    .copyright {
      font-size: 14px;
    }

    .footerLink {
      font-size: 15px;
    }

    .footerContacts {
      font-size: 15px;
    }
  }

 .PriceListContent {
   .tableDiv {
     width: 80%;
   }
  .priceTable {
    width: 100%;
    tbody {
      tr {
        th, td {
          font-size: 15px;
        }
      }
    }
  }
}
}

@media (max-width: 600px) {
.mainContent {
  h1 {
    font-size: 26px;
  }
 .goodsContainer {
   .goodsText {
     h2 {
       font-weight: 100;
       font-size: 23px;
       width: 260px;
     }

     .priceText {
       font-size: 20px;
       width: 200px;
     }
     .goodsDescription {
       font-weight: 100;
       font-size: 20px;
     }
   }
 }
}
  .tableDiv {
  width: 90%;
  .priceTable {
    width: 100%;
      th, td {
        font-size: 12px;
      }
    }
}
  footer {
    font-size: 10px;
  }

  .aboutUsContent {
    .aboutUsBox {
      width: 80%;
      .aboutUsText {
        font-size: 20px;
      }
    }
  }
  }




@media (max-width:360px) {
  .mainContent {
    h1 {
      font-size: 20px;
    }

    .goodsContainer {
      .goodsText {
        h2 {
          font-size: 15px;
          line-height: 18px;
        }

        .priceText {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;


        }
        .goodsDescription {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }

  .aboutUsText {
    font-size: 15px;
    line-height: 18px;
  }
}


