@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

body {

  background-image: url("img/vectorsbackground.svg");
  background-repeat: no-repeat;
  background-position-y: 423px;
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("img/vectorsheader.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  align-self: flex-start;

  .mobileMenu {
    display: none;
  }

  .logo {
    align-self: flex-start;
    flex-basis: 50%;
    min-height: 33vw;

    img {
      width: 100%;
    }
  }

  .menu {
    flex-basis: 100%;

    align-self: center;
    height: 26vw;


    ul {
      padding: 0;
      display: flex;
      justify-content: space-between;
        li {
          flex-basis: 29%;
        display: flex;

          a {
            text-align: center;
            color: white;
            text-decoration: none;
            font-weight: 300;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #3D4683;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            flex-basis: 100%;
            height: 62px;

            &:hover {
              background-color: #A6ADDE;
              transition-duration: 0.5s;
              box-shadow: 0px 4px 100px #FFFFFF;
            }
            }
          }
      }
    }

    li {
      list-style-type: none;
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 50%;
    line-height: 35px;


    li {
      margin-right: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        margin-right: 5px;
      }

      a {
        text-decoration: none;
        text-align: end;
        color: black;
      }


    }

    .mail {
    }
  }


.mainContent {
  margin-top: -7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 32px;

    width: 900px;

  }

  .goodsContainer {
    padding: 30px;
    display: flex;
    width: 70vw;
    background: #FFFFFF;
    box-shadow: 0 4px 50px rgba(157, 156, 203, 0.51);
    border-radius: 20px;
    margin-bottom: 34px;

    .goodsImg {
      display: flex;
      align-items: center;
      padding: 30px;
      flex-basis: 36%;

      img {
        width: 95%;
      }
    }

    .goodsText {
      display: flex;
      flex-basis: 64%;
      flex-direction: column;
      align-self: flex-start;
      margin-top: 1vw;

      h2 {
        font-weight: 400;
        font-size: 30px;
      }

      .goodsDescription {

        margin-right: 30px;
        padding: 5px;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
        list-style-image: url("img/icon/eclipse.svg");
      }

      .priceText {
        text-align: center;
        margin: 0 0 25px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        background: rgba(102, 117, 255, 0.13);
        border-radius: 10px;
        width: max-content;
        padding: 10px 20px;
      }
    }
  }
}

footer {
  background-color: #3D4683;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-self: flex-end;

  .copyright {
    color: white;
    align-self: center;
    flex-basis: 50%;
    margin-left: 25px;
  }

  .footerLink {
    flex-basis: 100%;
  }

  .footerLink, .footerContacts {

    li {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 17px;
        line-height: 30px;

      }
    }
      }


  .footerContacts {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 0;

    li {
      margin-right: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .footerIcon {
        margin-right: 5px;
      }

      a {
        text-align: end;
      }
      }
      }
    }

.priceListContent {
  font-size: 18px;
  margin-top: -8vw;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .priceTitle {
    font-size: 50px;
    font-weight: 400;
  }

 .tableDiv {
  align-self: center;
   width: 60%;
  .priceTable {
    display: table;
    border-collapse: collapse;
    width: 100%;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0 4px 250px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    tbody {
      display: table-row-group;
      vertical-align: middle;
    }

    tr{
      display: table-row;
      text-align: center;
    }

    tr:not(:last-of-type) {
      border-bottom: 2px solid #BCCBFF;

    }

    th, td {
      padding: 10px;
      display: table-cell;
    }

    td {
      font-weight: 300;
    }

    td:last-child{
      font-weight: 500;
    }

    tr:not(:first-of-type):hover {
      background: linear-gradient(to right, #FFE6E6, #D3CDF8);
    }
  }
}
}

.aboutUsContent {
  margin-top: -8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .aboutUsTitle {
    font-size: 50px;
    font-weight: 400;
  }

  .aboutUsBox {
    background: #FFFFFF;
    box-shadow: 0 4px 100px rgba(157, 156, 203, 0.3);
    border-radius: 20px;
    width: 60%;
    padding: 20px;

    .aboutUsText {
      text-align: center;
      font-weight: 300;
      font-size: 30px;
      line-height: 35px;
    }
  }
}

.menuDarkDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(30, 25, 33, 0.62);
  position: fixed;

  .menuDiv {
    flex-basis: 100%;
    align-self: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 270px;
    background-image: url("img/backgroundmenu.svg");
    background-position: center;
    box-shadow: 0 4px 50px rgba(157, 156, 203, 0.51);
    border-radius: 10px;


    .menuList {
      align-self: center;

      li {
        padding: 5px;
      }
    }

    h3 {

      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-start;
      margin-left: 50px;
      font-size: 20px;
      line-height: 23px;
      font-weight: 400;
      align-self: center;
      text-align: start;

      img {
        margin-right: 2px;

      }
    }

      .menuList {

        list-style-image: url("img/listmarker.svg");

        .menuLinks {
          color: black;
          font-size: 20px;
          line-height: 23px;
          font-weight: 300;
          text-decoration: none;
      }
    }
  }
}