@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
body {
  background-image: url("img/vectorsheader.png");
  background-repeat: no-repeat;
  background-position: top;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
}
header .mobileMenu {
  display: none;
}
header .logo {
  align-self: flex-start;
  flex-basis: 60%;
}
header .logo img {
  width: 100%;
}
header .menu {
  flex-basis: 100%;
  align-self: center;
}
header .menu ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
header .menu ul li {
  flex-basis: 29%;
  display: flex;
}
header .menu ul li a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3D4683;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex-basis: 100%;
  height: 62px;
}
header .menu ul li a:hover {
  background-color: #A6ADDE;
  transition-duration: 0.5s;
  box-shadow: 0 4px 100px #FFFFFF;
}
header li {
  list-style-type: none;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 50%;
  line-height: 35px;
}
.contacts li {
  margin-right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts li .icon {
  margin-right: 5px;
}
.contacts li a {
  text-decoration: none;
  text-align: end;
  color: black;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent h1 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  width: 900px;
}
.mainContent .goodsContainer {
  padding: 30px;
  display: flex;
  width: 70vw;
  background: #FFFFFF;
  box-shadow: 0 4px 50px rgba(157, 156, 203, 0.51);
  border-radius: 20px;
  margin-bottom: 34px;
}
.mainContent .goodsContainer .goodsImg {
  display: flex;
  align-items: center;
  padding: 30px;
  flex-basis: 36%;
}
.mainContent .goodsContainer .goodsImg img {
  width: 95%;
}
.mainContent .goodsContainer .goodsText {
  display: flex;
  flex-basis: 64%;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 1vw;
}
.mainContent .goodsContainer .goodsText h2 {
  font-weight: 400;
  font-size: 30px;
}
.mainContent .goodsContainer .goodsText .goodsDescription {
  margin-right: 30px;
  padding: 5px;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  list-style-image: url("img/icon/eclipse.svg");
}
.mainContent .goodsContainer .goodsText .priceText {
  text-align: center;
  margin: 0 0 25px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  background: rgba(102, 117, 255, 0.13);
  border-radius: 10px;
  width: max-content;
  padding: 10px 20px;
}
footer {
  bottom: 0;
  background-color: #3D4683;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-self: flex-end;
}
footer .copyright {
  color: white;
  align-self: center;
  flex-basis: 50%;
  margin-left: 25px;
}
footer .footerLink {
  flex-basis: 100%;
}
footer .footerLink li,
footer .footerContacts li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerLink li a,
footer .footerContacts li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
}
footer .footerContacts {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
footer .footerContacts li {
  margin-right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerContacts li .footerIcon {
  margin-right: 5px;
}
footer .footerContacts li a {
  text-align: end;
}
.priceListContent {
  font-size: 18px;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.priceListContent .priceTitle {
  font-size: 50px;
  font-weight: 400;
}
.priceListContent .tableDiv {
  align-self: center;
  width: 60%;
}
.priceListContent .tableDiv .priceTable {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 240px;
  background: #FFFFFF;
  box-shadow: 0 4px 250px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.priceListContent .tableDiv .priceTable tbody {
  display: table-row-group;
  vertical-align: middle;
}
.priceListContent .tableDiv .priceTable tr {
  display: table-row;
  text-align: center;
}
.priceListContent .tableDiv .priceTable tr:not(:last-of-type) {
  border-bottom: 2px solid #BCCBFF;
}
.priceListContent .tableDiv .priceTable th,
.priceListContent .tableDiv .priceTable td {
  padding: 10px;
  display: table-cell;
}
.priceListContent .tableDiv .priceTable td {
  font-weight: 300;
}
.priceListContent .tableDiv .priceTable td:last-child {
  font-weight: 500;
}
.priceListContent .tableDiv .priceTable tr:not(:first-of-type):hover {
  background: linear-gradient(to right, #FFE6E6, #D3CDF8);
}
.aboutUsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.aboutUsContent .aboutUsTitle {
  font-size: 50px;
  font-weight: 400;
}
.aboutUsContent .aboutUsBox {
  background: #FFFFFF;
  box-shadow: 0 4px 100px rgba(157, 156, 203, 0.3);
  border-radius: 20px;
  width: 60%;
  padding: 20px;
}
.aboutUsContent .aboutUsBox .aboutUsText {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}
.menuDarkDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(30, 25, 33, 0.62);
  position: fixed;
}
.menuDarkDiv .menuDiv {
  flex-basis: 100%;
  align-self: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  background-image: linear-gradient(to bottom, #FFFFFF, #E6EAFF);
  background-repeat: space;
  background-position: center;
  box-shadow: 0 4px 50px rgba(157, 156, 203, 0.51);
  border-radius: 10px;
}
.menuDarkDiv .menuDiv .menuList {
  align-self: flex-start;
  margin-left: 10vw;
}
.menuDarkDiv .menuDiv .menuList .menuLinks {
  padding: 5px;
}
.menuDarkDiv .menuDiv h3 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin-left: 50px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  align-self: center;
  text-align: start;
}
.menuDarkDiv .menuDiv h3 img {
  margin-right: 2px;
}
.menuDarkDiv .menuDiv .menuList {
  list-style-image: url("img/listmarker.svg");
}
.menuDarkDiv .menuDiv .menuList .menuLinks {
  color: black;
  font-size: 145%;
  line-height: 23px;
  font-weight: 300;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */